**/node_modules
**/dist
**/.DS_Store
**/.nyc_output
**/coverage
**/lerna-debug.log
**/npm-debug.log
**/yarn-error.log
**/packages/tyranid/foo.xlsx
**/packages/tyranid-cli/bin
packages/tyreant/tyreant.css
tyranid-org.github.com
packages/tyranid/foo.csv
